@keyframes pulsate {0% {opacity: 1;} 50% {opacity:0.5;} 100% {opacity:1;}}
html,body {
    height: 100%;
}
body{
    color: #fff;
    background: #333;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    text-align: center;
}
.site-wrapper{
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner{
    display: table-cell;
    vertical-align: middle;
}
.cover-container{
    width: 90%;
    height: 80%;
    display: table;
    position: relative;
    padding: 30px 20px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #eee;
    box-shadow: inset 0 0 36px rgba(43, 43, 43, 0.88);
}
.list-count{
    margin: 15px auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 125%;
    color: #858c7b;
    text-shadow: 1px 1px 1px black;
}

.container-fluid{
    display: flex;
    align-items: center;
}
.container-fluid h1{
    flex: 1;
    margin-bottom: 20px;
    color: #8fc907;
    text-shadow: 2px 2px 3px black;
}
.form-control{
    width: 30%;
}
.contact-list{
    width: 100%;
    height: 75%;
    overflow: auto;
}
.list-group{
    margin-bottom: 0;
}
.list-group-item .glyphicon-remove,
.list-group-item .glyphicon-pencil,
.list-group-item .glyphicon-option-horizontal{
    padding: 5px;
    margin-left: 15px;
    border-radius: 50%;
    box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}
.list-group-item .glyphicon-option-horizontal{
    background-color: #c5bfbd;
}
.list-group-item .glyphicon-pencil{
    background-color: #96D146;
}
.list-group-item .glyphicon-remove{
    background-color: #d01212;
}
.list-group-item .glyphicon-pencil:hover,
.list-group-item .glyphicon-pencil:active,
.list-group-item .glyphicon-option-horizontal:hover,
.list-group-item .glyphicon-option-horizontal:active,
.list-group-item .glyphicon-remove:hover,
.list-group-item .glyphicon-remove:active{
    box-shadow: inset 0 0 25px rgba(0,0,0,1);
}
.list-group-item{
    display: flex;
    border-left:5px solid #333;
    margin: 0.2em 0;
    height: 100%;
    z-index: 2;
}
.contacts li{
    float:left;
    clear:left;
    width:100%;
    margin:0.2em 0;
    padding:0.5em 0.8em;
    list-style:none;
    background-color:#f2f2f2;
    border-left:5px solid #003842;
    cursor:pointer;
    color:#333;
    position:relative;
    z-index:2;
}
.list-group-item:hover,
.list-group-item:active,
.list-group-item.selected{
    background-color: rgba(40, 40, 40, 0.01);
    border-left:5px solid #3de62c;
    cursor: pointer;
}
.list-group-item .contact-name, .list-group-item .contact-number{
    flex:1;
    color: #0f0f0f;
}
.new-contact{
    margin-right: 20px;
    height: 50px;
}
.new-contact img{
    height:100%;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid rgb(143, 201, 7);
    box-shadow: inset 0 0 25px #a5f539;
    cursor: pointer;
}
.new-contact img:hover{
    animation: pulsate 1s cubic-bezier(0.59, 0.15, 0.7, 1.02);
    animation-iteration-count:2;
}

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}
input:required:invalid{
    border-color: red;
}
.invalid{
    border-color: red;
}
.search input {
    height: 26px;
    width: 300px;
    padding: 0 12px 0 25px;
    color: #000;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    box-sizing: border-box;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}
.search input:hover,
.search input:active{
    background-color: rgba(131, 147, 234, 0.14);
    box-shadow: inset 1px 0 4px rgba(44, 44, 44, 0.33);
}
.search input:focus{
    outline: none;
}
.empty{
    display: flex;
    align-items:center;
}
.empty-item {
    color:#333;
    margin:0.2em 0;
    padding:0.5em 0.8em;
    font-style:italic;
    border: none;
    display: none;
    float:left;
    clear:left;
    width:100%;
}
.empty .empty-item {
    display: block;
}
.empty-contact{
    display: none;
}

/*Modal cards*/
.card {
    border-radius: 5px;
    background: #eee;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.7), 10px 10px 10px rgba(0,0,0,0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 5;
    padding: 6px 30px;
    opacity: 0;
    transition: opascity 2s;
    max-height:95%;
    overflow: auto;
}
.card[data-mode="add"],
.card[data-mode="edit"]{
    width: 400px;
    height: 500px;
}
.card[data-mode="remove"]{
    width: 300px;
    height: 150px;
}
.card[data-mode="remove"] .btn-container{
    align-items: center;
    height: 50%;
}
.fade-in .open{
    opacity: 1;
    display: block;
}
.card h2{
    color: #8fc907;
    text-shadow: 2px 2px 3px black;
}
.card .glyphicon-remove {
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
.card .glyphicon-remove:hover,
.card .glyphicon-remove:active{
    color:#000;
    font-size: 110%;
}
#overlay {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor:pointer;
    visibility: hidden;
    transition: opacity 0.5s;
}
.fade-in #overlay{
    visibility: visible;
    opacity: 0.8;
}
.card textarea,
.card input{
    width: 100%;
    display:block;
    margin-bottom:10px;
    padding-left:20px;
    font-size:18px;
    border-radius: 5px;
    color: #555860;
}
.card textarea{
    overflow:auto;
}
.card input {
    height: 35px;
}

.card input:focus, textarea:focus {
    background-color: rgba(164, 239, 22, 0.24);
    overflow: hidden;
    outline-color: #8fc907;
}

.card :focus::placeholder {
    color:transparent;
}
.card ::placeholder {
    font-size: 13px;
}
.card[data-mode=info]{
    width: 70%;
}
.card[data-mode=info] .row{
    display: none;
}
.card[data-mode=info] .row.visible{
    display: table-row;
}
.card[data-mode=info] h2{
    margin-top: 10px;
}
.table-user-information{
    margin: 20px 0;
    color: #333;
}
.table-user-information .icon img{
    height: 35px;
}
.card[data-mode=info] .table-user-information td{
    vertical-align: middle;
}
.table-user-information td:last-child{
    font-size: 125%;
}
.table-user-information .row .comment-info{
    font-size: 110%;
}
/*end modal tabs*/

/* Styles for btns*/
.card .btn-container{
    display: flex;
    justify-content: space-around;
}
.card .btn {
    width: 35%;
    border-radius: 6px;
    outline: none;
}
.card .btn.save,
.card .btn.yes{
    color: #097902;
    background-color: #96D146;
    border: 2px solid #097902;
}
.card .btn.clear{
    color: #355188;
    background-color: #6bb5f3;
    border: 2px solid #355188;
}
.card .btn.cancel,
.card .btn.no{
    color: #5d0707;
    background-color: #e62525;
    border: 2px solid #5d0707;
}
.card .btn:hover,
.card .btn:active{
box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.card .btn.clear:active{
    background-color: #558cb9;
}
.card .btn.cancel:active,
.card .btn.no:active{
    background-color: #af0e0e;
}
.card .btn.save:active,
.card .btn.yes:active{
    background-color: #66a016;
}
/*end styles for btns*/

@media screen and (max-width: 900px) {
    .navbar{
        margin-bottom: 10px;
    }
    .container-fluid{
        flex-wrap: wrap;
        padding-bottom: 15px;
    }
    .new-contact{
        margin-right: 0;
        margin-left: 15px;
        position: absolute;
        left: 0;
        top: 10%;
    }
    .container-fluid h1{
        order: 2;
    }
    .navbar-btn{
        order: 3;
    }
    .search{
        width: 100%;
        order: 4;
    }
    .search input{
        width: 70%;
    }
    .contact-list{
        height: 73%;
    }
    .list-count{
        margin:5px auto;
    }
}